#pos-0,
#pos-1,
#pos-2,
#pos-3,
#pos-4,
#pos-5,
#pos-6,
#pos-7,
#pos-8,
#pos-9,
#pos-10,
#pos-11,
#pos-12,
#pos-13,
#pos-14,
#pos-15,
#pos-16,
#pos-17,
#pos-18,
#pos-19,
#pos-20,
#pos-21,
#pos-22,
#pos-23,
#pos-24 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}